.comment-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
    
}
.comment-input-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#comment-txt{
    height: 6rem;
    padding: 0.9rem 1.1rem;
    border: 2px solid #D38CAD;
    border-radius: 4px;
    resize: none;
}

#commentBtn {
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    width: 25%;
    justify-content: center;
    gap: 1rem;
    align-items: center;

    color: var(--color-primary);
    font-weight: 500;

    background: var(--color-bg-variant);
    box-shadow: 0px 4px 4px rgba(237, 106, 90, 0.25);
    border-radius: 8px;
    border: none;
}
.comment-item {
    display: flex;
    margin-top: 1.5rem;
    padding-bottom: 0.9rem;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--color-primary-variant);
}

.comment-dp{
    width: 2rem;
    height: 2rem;
    border-radius: 25px;
    
}

.comment-username{
    font-weight: 500;
    margin: 20px 0;
}

.actual-comment{
    padding: 0 1rem 0 0;
}
/*======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    #commentBtn {
        width: 30%;
    }

}

/*======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
    .comment-item {
        margin-top: 0.6rem;
    }
    #commentBtn {
        width: 100%;
    }
}