.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background: darkslategrey;
    padding: 10px;
    color: #FFD2A5;
    gap: 0.5rem;
}

.footer-github {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

