.login-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: var(--container-width-lg);
}
.submitBtn {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 2rem;
    gap: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(237, 106, 90, 0.25);
    font-size: large;
    font-weight: 500;
    border-radius: 8px;
    background: var(--color-bg-variant);
}