.post-container{
    width: var(--container-width-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.post-grid-container {
    width: 100%;
}

.status-container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.post-ref{
    font-size: xx-small;
}
.pollBtn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.poll-btn{
    border: none;
    cursor: pointer;
    background: none;
}

.btn-icon {
    font-size: 3rem;
}

.like-icon {
    color: var(--color-green);
}
.dislike-icon {
    color: var(--color-red);
}

.poll-btn:disabled{
    opacity: 25%;
}

.poll-div{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
}

.agree-score,.disagree-score{
    text-align: center;
    font-weight: 500;
}
.agree-score{
    color: #628B48;
}

.disagree-score{
    color: #ED6A5A;
}
.post-paras{
    margin: 12px 0;
}

/*======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    .post-container {
        width: var(--container-width-md);
    }


}

/*======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
    .post-grid-container {
        width: var(--container-width-sm);
    }
}