.container-search {
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
.searchInputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-radius: 25px;
    background: var(--color-white);
    padding: 0 16px;
    border: 2px solid var(--color-primary-variant);
    
}
.hero-img {
    height: 6.5rem;
}
input[type=text]:focus{
    border: none;
}

#mainSearchBar{
    width: 40rem;
    height: 42px;    
}
  
.input-btn {
    color: var(--color-primary-variant);
    font-size: 2rem;
    cursor: pointer;
}

.seller-status-div {
    text-align: center;
}
/* ============ICONS=============== */
.status-icon-scammer {
    color: var(--color-red);
}
.status-icon-verified {
    color: var(--color-green);
}
.status-icon-top {
    color: var(--color-green);
}


.results-link{
    text-decoration: underline;
}
  
.dataItem{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat 1fr;
    grid-column-gap: 6rem;
    grid-row-gap: 0;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-primary-variant);
    align-items: center;
}

/*======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
    .hero-img {
        height: 3.5rem;
    }
    .searchInputs {
        width: var(--container-width-sm);
    }

    .dataItem {
        grid-column-gap: 1rem;
        margin: 0 1rem;
    }
}
/*======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    .searchInputs {
        width: var(--container-width-lg);
    }
    .dataItem {
        margin: 0 1rem;
    }
}